/* Базові стилі для сторінки */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    
    color: #3a236e; /* Темний текст */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #6c47a5;
}

/* Заголовки */
h1, h2, h3 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 0px #9c7fc7, 4px 4px 0px #b89ed9, 6px 6px 5px rgba(108, 71, 165, 0.4);
    font-family: fantasy;
}

 



/* Кнопки */
.btn {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
     
    border-color: #b8a6d6;
    box-shadow: 0 4px 8px rgba(211, 188, 232, 0.5);
}

    .btn-primary:hover {
        background-color: #e6d8f7;
        box-shadow: 0 6px 12px rgba(230, 216, 247, 0.7), 0 0 10px #c9bce5 inset;
    }

/* Стилі для контенту */
.content {
    padding: 1.5rem;
    background-color: #f2edf7; /* Фон для контенту */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для об’єму */
    max-width: 1200px; /* Збільшена максимальна ширина */
    width: 90%; /* Використовуйте 90% ширини батьківського контейнера */
    margin: 1rem auto; /* Центрування контенту */
}
/* Списки */
 

/* Таблиці */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e1d7f5;
    color: #2b1b4e;
    border: 1px solid #b8a6d6;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(43, 27, 78, 0.3);
    overflow: hidden;
}

thead {
    background-color: black;
    color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f2edf7;
}

tbody tr:nth-child(even) {
    background-color: #e1d7f5;
}

tbody tr:hover {
    background-color: #d3bce8;
    box-shadow: 0 0 10px rgba(211, 188, 232, 0.5) inset;
    transition: background-color 0.3s, box-shadow 0.3s;
}
main {
    background-color: transparent; /* Прозорий фон */
    padding: 1rem;
    background-color: #6c47a5;
}
.neon-effect {
    color: #000000; /* Чорний колір тексту */
    text-shadow: 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

    .neon-effect:hover {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        color: #000000; /* Текст залишається чорним, але підсвічується білим */
    }
 
 