@page "/create-notification/{userId}"
@using EM.WebApp.Components.Pages.ViewModel
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Policy = "OrganizerOrAdminPolicy")]
<h3>Create Notification</h3>
<EditForm EditContext="editContext" FormName="NotificationForm" OnValidSubmit="SendNotification">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <InputText class="form-control" @bind-Value="Title" />
    </div>
    <div class="mb-3">
        <label class="form-label">Message</label>
        <InputTextArea class="form-control" @bind-Value="Message" />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {
    [Parameter]
    public string UserId { get; set; }
    [SupplyParameterFromForm]
    private string Title { get; set; }
    [SupplyParameterFromForm]
    private string Message { get; set; }
    private EditContext editContext;
    private string Sender { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Sender = user.Identity?.Name ?? "Unknown";

        editContext = new EditContext(this);
    }

    private async Task SendNotification()
    {
        if (string.IsNullOrWhiteSpace(Title) || string.IsNullOrWhiteSpace(Message))
        {
             
            return;
        }

        // Використовуємо NotificationService для створення сповіщення
        await NotificationService.AddNotificationAsync(UserId, Title, Message, Sender);

        // Повертаємося на попередню сторінку
        NavigationManager.NavigateTo("/users");
    }
}

