@page "/users"
@inject IViewUsersByNameUseCase ViewUsersByNameUseCase

<h3>Users</h3>

<SearchComponent OnSearch="ApplySearch"></SearchComponent>
 
<UserListComponent SearchEventFilter="@searchUserName" ></UserListComponent>

@code {
    private string? searchUserName;

    private void ApplySearch(string searchFilter)
    {
        searchUserName = searchFilter;
    }

}
