@inject IViewEventsByNameUseCase ViewEventsByNameUseCase

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Дата початку</th>
            <th>Дата завершення</th>
            <th>Локація</th>
            <th class="text-center">Дії</th>
        </tr>
    </thead>
    <tbody>
        @if (Events != null && Events.Any())
        {
            @foreach (var ev in Events)
            {
                <EventListItemComponent Event="ev" />
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center text-muted">Подій не знайдено</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<Event>? Events;

    [Parameter]
    public string? SearchEventFilter { get; set; }

   

    protected override async Task OnParametersSetAsync()
    {
         
            Events = (await ViewEventsByNameUseCase.ExecuteAsync(SearchEventFilter??string.Empty)).ToList();
        
        
    }

}
