@inject IViewEventsByNameUseCase ViewEventsByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Events != null && Events.Any())
        {
            @foreach (var ev in Events)
            {
                <EventListItemComponent Event="ev" />
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center text-muted">Подій не знайдено</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<Event>? Events;

    [Parameter]
    public string? SearchEventFilter { get; set; }

   

    protected override async Task OnParametersSetAsync()
    {
         
            Events = (await ViewEventsByNameUseCase.ExecuteAsync(SearchEventFilter??string.Empty)).ToList();
        
        
    }

}
