﻿@if (searchFilter is null)
{
    searchFilter = string.Empty;
}

<EditForm Enhance="true" Model="searchFilter" FormName="formSearch" OnSubmit="Search">
    <div class="input-group">
        <InputText class="form-control"
                   placeholder="Type something to search"
                   @bind-Value="this.searchFilter"
                   style="border-right: none; border-radius: 8px 0 0 8px;">
        </InputText>
        <button type="submit" class="btn input-group-text"
                style="background-color: #28a745; color: white; border: none; border-radius: 0 8px 8px 0; box-shadow: 0 4px 8px rgba(40, 167, 69, 0.5); transition: background-color 0.3s, box-shadow 0.3s;">
            <i class="bi bi-search"></i>
        </button>
    </div>
</EditForm>


@code {
    [SupplyParameterFromForm]
    private string searchFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void Search()
    {
        OnSearch.InvokeAsync(searchFilter);
    }
}